<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}   

    <header>
        <div class="container">
            <div id="logo">
                <h1>Realty</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="login.html">Log In</a></li>
                    <li><a href="#browse">Apartments</a></li>
                    <li><a href="dashboard.html">My Profile</a></li>
                    <li><a href="#support">Help and Support</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home">
        <div class="container">
            <div id="home-1">
                <h1>Sail into your new home!</h1>
                <img src="images/home-line.png" alt="">
                <h2>Bridging the gap between tenants and proprietors</h2>
            </div>
            <div id="home-2">
                <div id="home-buttons">
                    <button>Search <img src="images/search-icon.svg" alt=""></button>
                    <button onclick="window.location.href='dashboard.html'">Manage <img src="images/home-icon.svg" alt=""></button><br>
                </div>
                <div><h2>Discover the choicest apartments in and around Chennai</h2></div>
            </div>
        </div>
        <div id="about-us">
            <div class="ab">
                <div class="ab-1">
                    <h1>A better lifestyle redefined</h1>
                    <p> Explore appartments tailored to match your expectations. In Realty, we make your dream of finding your dream home a reality. Connecting with the right proprietors and moving into your desired appartment is no more a hassle. We present you the best living spaces in a serene environment and ensure the right amenities for a comfortable lifestyle. All your commitments with your owner or tenant are seamless and secured- We've got you covered. Location, trustworthy clients, quality living. It all starts here! </p>
                </div>
                <div class="ab-2">
                    <img src="images/about-us-pic.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="browse">
        <div class="apartments">
            <div class="br-1">
                <h1>Browse Apartments</h1>
                <img src="images/home-line.png" alt="">
                <h2>Step inside your dream home</h2>
                <p> Living spaces with the finest features in on-demand locations are now a click away. Browse through 10,000+ apartments filtered according to your choices. We at Realty help you find rental appartments with all facilities owned by genuine proprietors. Take a deep dive and browse for more photos, local insights, property information and reviews of everything.</p>
            </div>
            <div class="br-2">
                <div class="thumbnails">
                    <img src="images/apartment-1.png" alt=""><br>
                    <a href="https://www.vgn.in/notting_hill/Flats-for-sale-nungambakkam">VGN NOTTING HILL</a>
                    <p>
                        Semi-furnished 3BHK<br>
                        Nungambakkam
                    </p>
                </div>
                <div class="thumbnails">
                    <img src="images/apartment-2.png" alt=""><br>
                    <a href="https://www.casagrand.co.in/residential/ongoing-projects-chennai-perungalathur/casagrand-vistaaz/">CASA GRAND VISTAAZ</a>
                    <p>
                        Fully-furnished 3BHK<br>
                        Perungalathur
                    </p>
                </div>
                <div class="thumbnails">
                    <img src="images/apartment-3.png" alt=""><br>
                    <a href="https://www.sis.in/queenstown/">QUEENSTOWN</a>
                    <p>
                        Semi-furnished 2BHK<br>
                        Guduvanchery
                    </p>
                </div>
                <div class="thumbnails">
                    <img src="images/apartment-4.png" alt=""><br>
                    <a href="https://www.pacificacompanies.co.in/aurum_happiness_towers/">PACIFIA AURUM</a>
                    <p>
                        Ready to occupy 2BHK<br>
                        Guindy
                    </p>
                </div>
            </div>
            <div class="apartment-button">
                <button>Browse More <img src="images/appartment-icon.svg" alt=""></button>
            </div>
        </div>
    </section>

    <section id="authors">
        <div class="au-1">
            <h1>Right on Reviews</h1>
            <img src="images/home-line.png" alt="">
            <h2>Quality and satisfaction, assured</h2>
        </div>
        <div class="au-2">
            <img src="images/author - 1.png" alt="">
            <img src="images/author - 2.png" alt="">
            <img src="images/author - 3.png" alt="">
        </div>
        <div class="au-3">
            <div class="desc">
                <h1>Anjali Das</h1>
                <p>“Lorem ipsum dolor sit
                    amet consectutur apel
                    adipiscising elit. Et, is
                    isuto. Aliquam illo, sa
                    com sed tyorghans.
                    Ducimus quo seterfey
                    lucriguois hetrique.”</p>
            </div>
            <div class="desc">
                <h1>Daniel Josh</h1>
                <p>“Lorem ipsum dolor sit
                    amet consectutur apel
                    adipiscising elit. Et, is
                    isuto. Aliquam illo, sa
                    com sed tyorghans.
                    Ducimus quo seterfey
                    lucriguois hetrique.”</p>
            </div>
            <div class="desc">
                <h1>Hemanth Kumar</h1>
                <p>“Lorem ipsum dolor sit
                    amet consectutur apel
                    adipiscising elit. Et, is
                    isuto. Aliquam illo, sa
                    com sed tyorghans.
                    Ducimus quo seterfey
                    lucriguois hetrique.”</p>
            </div>
        </div>
    </section>

    <footer>
        <div id="follow">
            <h1>Follow us on</h1>
            <div id="social-icons">
                <img src="images/Facebook.svg" alt="">
                <img src="images/Instagram.svg" alt="">
                <img src="images/Twitter.svg" alt="">
                <img src="images/LinkedIn.svg" alt="">
            </div>
        </div>
        <div>
            <h1>Contact Us</h1>
            <div id="contact-us">
                <img src="images/contact-icon.svg" alt="">
                <p>9876511111<br>9876522222<br>9876533333</p>
            </div>
        </div>
        <div>
            <h1>Help & Support</h1>
            <div id="support">
                <img src="images/mail-icon.svg" alt="">
                <p>realty@gmail.com<br>helpinrealty@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>
